<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ttms.dao.FilmDao">
	
	<resultMap type="Film" id="FilmResult">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="englishName" column="englishName" />
		<result property="cover" column="cover" />
		<result property="duration" column="duration" />
		<result property="box" column="box" />
		<result property="score" column="score" />
		<result property="resume" column="resume" />
		<result property="isHot" column="isHot" />
		<result property="clickHit" column="clickHit" />	
		<result property="publishDate" column="publishDate"></result>
		<association property="employee" column="employeeId" select="com.ttms.dao.EmployeeDao.findById"></association>
		<collection property="filmTypes" column="id" select="com.ttms.dao.FilmTypeDao.findByFilmId"></collection>
		<collection property="employees" column="id" select="com.ttms.dao.EmployeeDao.findByFilmId"></collection>
		<collection property="pictures" column="id" select="com.ttms.dao.PictureDao.findByFilmId"></collection>
	</resultMap>
	
	<select id="find" parameterType="Map" resultMap="FilmResult">
		select * from t_film 
		<where>
			<if test="showType==1 and showType!=null and showType!=''"><!-- 热门电影 -->
			 	isHot=1
			</if>
			<if test="showType==2 and showType!=null and showType!=''"><!-- 经典电影  大于八分8-->
				and  score&gt;8
			</if>
			<if test="catId != null and catId != '' and catId > 0 ">
			  	and id in (select filmId from t_film_filmtype  where filmTypeId=#{catId})
			</if>
		</where>
		<if test="sortId==2 and sortId!=null and sortId!=''"><!-- 按热门进行排序  点击次数 -->
			order by clickHit desc
		</if>
		<if test="sortId==3 and sortId!=null and sortId!=''"><!-- 按照时间进行排序 -->
			order by publishDate desc
		</if>
		<if test="sortId==1 and sortId!=null and sortId!=''"><!-- 按照评分进行排序 -->
			order by score desc
		</if>
		<if test="start != null and size != null">
			limit #{start},#{size}
		</if>
	</select>
	
	<select id="count" parameterType="Map" resultType="Long">
		select count(*) from t_film
	</select>
	
	<insert id="add" parameterType="Film">
		insert into t_film values(null,#{name},#{englishName},#{cover},#{duration},0,#{score},#{resume},0,0,#{employee.id},#{publishDate})
	</insert>
	
	<insert id="addMiddleTable" parameterType="Map">
		insert into t_film_filmtype values(null,#{filmId},#{filmTypeId})
	</insert>
	
	<insert id="addPictures" parameterType="Map">
		insert into t_picture values(null,#{filmId},#{url})
	</insert>
	
	<select id="getMaxId" resultType="Integer">
		select max(id) from t_film
	</select>
	
	<select id="findById" parameterType="Integer" resultMap="FilmResult">
		select * from t_film where id = #{id}
	</select>
	
	<select id="findByFilmTypeId" parameterType="Integer" resultMap="FilmResult">
		select tf.* from t_film tf,t_film_filmType tff
  		where tf.id = tff.filmId  
  		and tff.filmTypeId = #{id}
	</select>
	
	<select id="findByEmployeeId" parameterType="Integer" resultMap="FilmResult">
		select tf.* from t_film tf,t_film_filmType tff
  		where tf.id = tff.filmId 
  		and tff.filmTypeId = #{id}
	</select>
	
	<select id="getHotNum" resultType="Integer">
		select count(*) from t_film  where isHot=1
	</select>
	
	<select id="getHotFilm" resultMap="FilmResult" parameterType="Map">
		select * from t_film where isHot=1 order by publishDate desc limit #{count} 
	</select>
	
	<select id="getBoxFilm" resultMap="FilmResult" parameterType="Map">
		select * from t_film order by box desc limit #{count}
	</select>
	
	<select id="getClickHit" resultMap="FilmResult" parameterType="Map">
	 	select * from t_film order by clickHit desc limit #{count}
	</select>
	<select id="getScoreFilm" resultMap="FilmResult" parameterType="Map">
		select * from t_film order by score desc limit #{count}
	</select>
</mapper>